.grid-container{
    display:grid;
    grid-template-rows: 5fr 3fr 40fr 35fr 35fr 30fr 30fr;
    .grid-container > div {
        /* background-color: rgb(230, 226, 226); */
        /* text-align: center; */
       
      /* font-size: 15px; */
        border:1px solid black; 
    }
        
 .first-navbar{
            display:grid; grid-template-columns:1fr 1fr 4fr 1fr 1fr 1fr 1fr; 
            grid-gap: 10px;
            align-items: center;
            background-color: black;
            color:white;
            font-size:15px;
            
            .first-0ne{
              display:flex;
              align-items: center;
              
            
            .in{
               padding-bottom:10px;
             }
             .searchbox{
              display:flex;
              background-color: #fff;
              border-radius: 7px;
              
            
            }
            .searchbox>span>input{
              outline: none;
              border: none;
              width:100vw;
              
              
            
            }
          
        }
      }
      .second-navbar{
        display:grid;
        grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; 
        background-color: #38322b;
        color:white;
        grid-gap:4px 2px;
        font-size:14px;
        align-items: center;
      }
      .item1 {
        grid-area: myArea;
        grid-auto-flow: column;
        background-image: url("amz_box.jpg");
        background-repeat: no-repeat; 
        background-position: center;
      } 
      .main {
        display: grid;
        grid-template-areas: 'myArea myArea' ;
        /* grid-gap: 10px; */
        background-color: white;
        /* padding-left: 180px;
        padding-right:180px; */
        
      }
      
      .main > div {
        background-color: white;
        text-align: center;
        /* padding: 20px 0; */
        font-size: 15px;
      }
      
      
      .chevron{
        display:flex;
        align-items: center;
        padding-top: 200px;
      }
      .chevron1{
        
        padding-right: 800px;
      }
      .chevron2{
        
        padding-left: 1000px;
      }

      .firstone{
        display:grid;
        grid-template-columns: auto auto auto auto;
        /* background-color:rgb(140,156,156); */
        /* grid-gap:5px; */
        margin:0 200px;
      }
      .secondone{
        display:grid;
        margin:10px 10px;
      }
      .thirdone{
        display:grid;
        grid-template-columns: repeat(2,auto);
        grid-gap:8px;
      }
      .fourthone{
        display:grid;
        font-size: small;
      }
      .header{
        font: 21px,"Amazon Ember",arial,Sans-serif;
        font-size: 18px;
      }
      .fifthone{
        display:grid;
      
      }
      .horizon{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto;
        margin:0px 200px;
      }
      
      .footer{
        display:grid;
        grid-template-rows: 1fr 4fr 3fr;
        
      }
      .footer>div{
        border:1px solid black;
      
      } 
      .footerflex{
         display:grid;
         grid-template-columns:auto auto auto auto;
      
      }
      .normal{
        display:grid;
        color:#fff;
        background-color: #0F1111;
        align-items: center;
       
      }
      .secondlast{
        display:flex;
        justify-content: center;
        align-items: center;
        Background-color: rgb(51, 51, 51);
        
      }
      .secondlast>div{
        margin: 5px 10px;
      }
      .last{
        display:flex;
       justify-content: space-evenly;
       align-items: center;
      }
      .back{
        display:flex;
        color:#fff;
        background-color:rgb(51, 51, 51);
        justify-content: center;
        align-items: center;
      }

    }